DS_Implementations/cmake-build-debug/*
DS_Implementations/CMakeLists.txt
DS_Implementations/.idea/*
SDP_Homework/.idea/*
SDP_Homework/cmake-build-debug/*
SDP_Homework/CMakeLists.txt
SDP_Homework/*.pdf
